.Title {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 260px;
}

.h1 {
  font-size: 50%;
}

.p {
  letter-spacing: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.popup {
  position: absolute;
  margin: 0;
  right:685px;
  padding: 10px;
}


